elpa
tmp
auto-save-list
irony
tramp
ac-html-csswatcher
eshell
semanticdb
.cache
eclipse.jdt.ls
var

*.elc
.session
session.*
srecode-map.el
.python-environments
modules/flycheck_*.el
recentf
recentf~
smex-items
.project
ido.last
ido.last~
async-bytecomp.log
.historian
network-security.data
.tags
.tags1
TAGS
transient
workspace
request
flycheck_init.el
GPATH
GTAGS
GRTAGS
