elpa
tmp
auto-save-list
irony
tramp
ac-html-csswatcher
eshell
semanticdb
.cache
eclipse.jdt.ls
var
etc
.python-environments
workspace
eln-cache

.log
*.elc
.session
session.*
srecode-map.el
flycheck_*.el
recentf
recentf~
smex-items
.project
ido.last
ido.last~
async-bytecomp.log
.historian
network-security.data
.tags
.tags1
TAGS
transient
request
GPATH
GTAGS
GRTAGS
.lsp-session-v1
projectile-bookmarks.eld
amx-items
.ac-php-conf.json
package-quickstart.el
private.el
spell-fu
